header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.281);
    width: 100%;
    padding: 0.5em 1em;
    position: sticky;
}
header .header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
header .header ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 1em;
}
header .header ul li{
    list-style: none;
    justify-content: space-between;
    display: flex;
    padding: 0em 1em;
}
header .header .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0;
    padding: 0;
}
header .header .search input{
    height: 3.2em;
    border-radius: 5px 0 0 5px;
    margin-right: 0;
}
header .header .search button{
    border-radius: 0 5px 5px 0;
    outline: none;
    height: 3em;
}